body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.header {
    color: black;
    padding: 50px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.item .content {
    padding: 20px;
}

.item h3 {
    margin-top: 0;
    color: black;
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}