body {
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: wheat;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Kanit", sans-serif;
}

button:hover {
    background-color: wheat;
    opacity: 0.75;
}