@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: "Sarabun", sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
    color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.question-box {
    margin-bottom: 20px;
    padding: 15px;
}

.question-text {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    color: black;
}

.answer-option {
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
}