body {
    font-family: sans-serif;
    margin: 40px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: auto;
}

th {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

td {
    padding: 8px;
    font-size: 18px;
}

.id {
    width: 50px;
}

.name {
    width: 250px;
}

.score {
    width: 800px;
}

.bar {
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
    box-sizing: border-box;
}

.bar1 {
    background-color: purple
}

.bar2 {
    background-color: brown;
}

.bar3 {
    background-color: seagreen;
}

.bar4 {
    background-color: grey;
}

.bar5 {
    background-color: goldenrod;
}