<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Instructor Data</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1 style="text-align:center;">Instructor List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Dept Name</th>
            <th>Salary</th>
        </tr>
        <% data.forEach(function(item) { %>
            <tr>
                <td>
                    <%= item.ID %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.dept_name %>
                </td>
                <td>
                    <%= item.salary %>
                </td>
            </tr>
            <% }); %>
    </table>

    <div style="text-align:center;">
        <a href="/form">Add New Instructor</a>
    </div>
</body>

</html>