body {
    font-family: "Kanit", sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 200px;
    margin-top: 10px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: whitesmoke;
}

th {
    background-color: antiquewhite;
}

button {
    font-family: "Kanit", sans-serif;
}