@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8E1;
    color: #5D4037;
}

nav {
    background-color: #FBC02D;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: #3E2723;
    font-weight: bold;
    font-size: 18px;
    margin: 0 20px;
    padding: 10px;
    transition: 0.3s;
}

nav a:hover {
    background-color: white;
    border-radius: 20px;
}

nav a.active {
    font-weight: bold;
    color: white;
    background-color: #E65100;
    border-radius: 20px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    min-height: 80vh;
}

h1,
h2 {
    text-align: center;
    color: #E65100;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.recipe-card {
    border: 1px solid #EEE;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-info {
    padding: 15px;
}

.recipe-info h3 {
    margin-top: 0;
    color: #F57F17;
}

.recipe-info h4 {
    margin: 15px 0 5px 0;
    color: #E65100;
    font-size: 16px;
    display: inline-block;
}

.recipe-info ul,
.recipe-info ol {
    padding-left: 20px;
    margin: 5px 0;
    font-size: 14px;
    color: #5D4037;
}

.recipe-info li {
    margin-bottom: 5px;
}

.recipe-info p {
    font-size: 15px;
    line-height: 1.5;
}

.btn-main {
    background-color: #E65100;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    border: 2px solid #E65100;
}

.btn-main:hover {
    background-color: white;
    color: #E65100;
    border: 2px solid #E65100;
    box-shadow: 0 5px 15px rgba(230, 81, 0, 0.3);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #5D4037;
    color: white;
    margin-top: auto;
}

ul.ref-list li {
    margin-bottom: 10px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 15px;
        width: auto;
    }

    .recipe-grid {
        grid-template-columns: 1fr;
    }
}