body {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: inline-block;
    background-color: white;
    padding: 20px;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid darkgrey;
    padding: 12px;
    text-align: left;
}

th {
    background-color: lightgray;
    font-weight: bold;
}

button {
    font-family: "Kanit", sans-serif;
    background-color: blue;
    opacity: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    opacity: 75%;
}