body {
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    width: 825px;
    text-align: center;
}

.balance-amount {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.input-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input,
select,
button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
}

button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: green;
    opacity: 0.75;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid grey;
    padding: 12px;
    text-align: center;
}

th {
    background-color: darkkhaki;
    color: white;
}